/* CSS For Header */

logo {
    color: #ffffff;
    text-align: left;
    font-size: small;
    margin-left: 30px;
    font-weight: bold;
}
upnext {
    color: #eada28;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
menu {
    color: #ffffff;
    text-align: left;
    font-size: small;
    margin-left: 15px;
    font-weight: bold;
}
watchlist {
    color: #ffffff;
    text-align: left;
    font-size: small;
    margin-left: 90px;
    font-weight: bold;
}
signin {
    color: #ffffff;
    text-align: left;
    font-size: small;
    margin-left: 40px;
    font-weight: bold;
}
language {
    color: #ffffff;
    text-align: left;
    font-size: small;
    margin-left: 40px;
    font-weight: bold;
}
header {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 7px 7px;
    display: flex;
    align-items: center;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}   

.search-container {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.search-input {
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    height: 30px;
    width: 620px;
    border-radius: 5px 0 0 5px;
    outline: none;

}

.search-button {
    height: 30px;
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    background-color: #ff6347;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e5533d;
}
.search-input, .search-button {
    box-sizing: border-box; /* Pastikan padding termasuk dalam width/height */
}

/* CSS MovieDetailPage */
.image-container {
    display: flex;
    position: relative;
    justify-content: left;
    margin-left: -10px;
    margin-top: 20px;
    padding: 20px;
    align-items: flex-start;
}

.styled-image {
    width: 200px;
    height: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: block;
}

.movie-detail-container {
    margin: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-container {
    margin: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-form {
    margin-top: 20px;
}

.review-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e5533d;
}

.review-item {
    margin: 5px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}