/* CSS For Header */

.logo {
    color: #ffffff;
    width: 10%;
    text-align: center;
    font-size: small;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}
.signin-container {
   text-align: right;
   padding: 10px;
}
  
.signin-link {
   color: #ffffff;
   font-size: 14px;
   text-decoration: none;
   padding: 10px;
   border: 1px solid #ffffff;
   border-radius: 5px;
}
  
.signin-link:hover {
   background-color: #ff6347;
   border-color: #ff6347;
}  
upnext {
    color: #eada28;
    text-align: left;
    font-size: 20px;
    margin-top: 3vw;
    margin-left: 8px;
    margin-right: 8px;
    /* margin-left: 10px; */
    font-weight: bold;
}
listmenu {
    color: #ffffff;
    width: 10%;
    text-align: center;
    font-size: small;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}
watchlist {
    color: #ffffff;
    width: 10%;
    text-align: center;
    font-size: small;
    margin-left: 8px;
    margin-right: 8px;
    /* margin-left: 90px; */
    font-weight: bold;
}
language {
    color: #ffffff;
    width: 10%;
    text-align: center;
    font-size: small;
    margin-left: 8px;
    margin-right: 8px;
    /* margin-left: 40px; */
    font-weight: bold;
}
header {
    background-color: #1a1a1a;
    width: 100vw;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 7px 7px;
    display: flex;
    align-items: center;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
}   

.search-container {
    display: flex;
    width: 50%;
    margin-left: 15px;
    align-items: center;
}

.search-input {
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    height: 30px;
    width: 85%;
    border-radius: 5px 0 0 5px;
    outline: none;
    
}

.search-button {
    height: 30px;
    width: 70px;
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    background-color: #ff6347;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e5533d;
}
.search-input, .search-button {
    box-sizing: border-box; /* Pastikan padding termasuk dalam width/height */
}

/* Body CSS */

.image-container {
    display: flex;
    position: relative;
    justify-content: left;
    margin-left: -10px;
    margin-top: 20px;
    padding: 20px;
    align-items: flex-start;
}

.styled-image {
    width: 70vw; 
    height: 45vw; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: block;
}
.gradient-overlay {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 120%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); 
    pointer-events: none; 
}
.next-film {
    display: flex;
    flex-direction: column;
}
.square {
    /* margin-top: 20px; */
    width: 375px; 
    height: 535px; 
    background-color: #0f0f0f;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(17, 17, 17)); 
    
}
.styled-image-preview {
    /* margin-top: 20px; */
    margin-left: 17px;
    width: 100px; 
    height: 150px; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: block;
}
.item {
    display: flex;
    
}
p {
    color: #ffffff;
    text-align: left;
    margin-top: 75px;
    margin-left: 15px;
}
browse {
    color: #ffffff;
    text-align: left;
    margin-left: 17px;
    font-weight: bold;
    font-size: 20px;
}
.play-button-container {
    display: flex;
    margin-left: 190px;
    align-items: center;
}
.play-button {
    position: absolute;
    background-color: #000000; /* Warna latar belakang tombol */
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 50%; /* Membuat tombol berbentuk bulat */
    width: 65px;
    height: 65px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk efek 3D */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animasi saat hover */
}
.play-button:hover {
    background-color: #000000;
    outline: 2px solid rgb(255, 234, 1);
}
.play-icon {
    color: white;
    font-size: 32px;
    margin-left: 5px;
}
.play-button:hover .play-icon {
    color: yellow; /* Warna ikon saat tombol dihover */
}
.text-film {
    position: absolute;
    margin-left: 190px;
    margin-top: -30px;
}
filmtitle {
    color: #ffffff;
    text-align: left;
    margin-left: 90px;
    font-size: 30px;
    display: flex;
}
subtitle {
    color: #878787;
    text-align: left;
    margin-left: 90px;
    font-size: 20px;
}
.play-button-container-mini {
    display: flex;
    margin-left: 2vw;
    margin-top: 1vw;
    align-items: left;
    flex-direction: column;
}
.play-button-mini {
    background-color: #000000; 
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.play-button-mini:hover {
    background-color: #000000;
    outline: 2px solid rgb(255, 234, 1);
}
.play-icon-mini {
    color: white;
    font-size: 16px;
    margin-left: 5px;
}
.play-button-mini:hover .play-icon-mini {
    color: yellow; 
}
.play-mtitle {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1vw;
}

@media only screen and (max-width: 600px) {
    div {
        background-color: #ffffff;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}
